* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  font-family: 'Kumbh Sans', sans-serif;
}

.img_part, .faq_part {
  width: 50%;
}

.ans {
  display: none;
}

.main_component {
  background-image: url("images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-color: hsl(240, 5%, 91%);
  width: 60%;
  margin:15vh auto;
  border-radius: 20px;
  padding: 50px 50px 50px 0px;
  background-size: 730px;
  background-position: -450px -180px;
  padding: 50px 50px 50px 0px;
  display: flex;      /*so that the content should have same height; */
}

.que {
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.attribution {
   font-size: 11px; 
   text-align: center; 
   color: hsl(228, 45%, 44%);
  }
    
/* combined images */
.desktop_women {
  width: 90%;
  position: relative;
  right: 60px;
}

.box_img {
  width: 150px;
  position: absolute;
  left: -70px;
  top: 44%;
  z-index: 1;
}

.combined_images{
  overflow: hidden;

}
.show_hide {
  cursor: pointer;
  transition: 0.5s;
  margin-right: 20px;
}

.img_part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/* for javascript effect */
.show {
  display: block;
}

.flip {
  transform: rotate(180deg);
}

.change_color {
  color: hsl(238, 29%, 16%);
}

.mobile_women{
  display: none;
}

/* media query */
@media (max-width:1000px) {
  .main_component{
    flex-direction: column;
    padding: 0px 15px 25px;
    background-size: 260px;
    background-position: 40px -130px;
  }

 .img_part,.faq_part{
    width: auto;
    text-align: center;
}
.img_part{
  height: 180px;
}
.box_img,.desktop_women{
  display: none;
}

.mobile_women{
  display: block;
  width: 80%;
  margin:auto;
  position: relative;
  bottom: 110px;
}

.combined_images{
  overflow: visible;
  height: 10rem;
}
}
